@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: milky;
    src: url(../../public/assets/typography/milky/MilkyWalky-Regular.ttf);
}

.hero-title {
    font-family: milky;
}