@import "tailwindcss";

@theme {
  --color-brand: #26FF00;
  --color-accent: #FF3F7F;
  --color-bg: #F2F2F2;
  /* etc */
}

@font-face {
  font-family: clash-display;
  src: url("../../public/ClashDisplay-Variable.ttf");
}

*{
  font-family: clash-display;
}

html {
  scroll-behavior: smooth;
}