@import "tailwindcss";

@theme {
  --color-brand: #FF714B;
  --color-accent: #4D2D8C;
  --color-bg: #f2f2f2;
  /* etc */
}

@font-face {
  font-family: chillax;
  src: url(../../public/assets/typography/chillax.ttf);
}

canvas.spline-canvas {
  mix-blend-mode: screen; /* o multiply, overlay, etc. */
  position: relative;
  z-index: 1;
}


* {
  font-family: chillax;
}

div, p, span {
  font-weight: 500;
}

h3, h1, span {
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}